{{ with site.Params.footer.social }}
<ul class="network-icon footer-social" aria-hidden="true">
  {{ range . }}
    {{ $social_link := partial "functions/get_social_link" . }}
    <li>
      <a href="{{ $social_link.link | safeURL }}"{{ with $social_link.tooltip }} data-toggle="tooltip" data-placement="top" title="{{ . }}"{{ end }} {{ $social_link.target | safeHTMLAttr }} aria-label="{{ $social_link.aria_label }}">
        <i class="{{ $social_link.icon_pack }} {{ $social_link.pack_prefix }}-{{ $social_link.icon }}"></i>
      </a>
    </li>
  {{ end }}
</ul>
{{ end }}
